{% extends "base.html" %}

{% block wiki_pagetitle %}
iegget.no
{% endblock %}

{% block wiki_contents %}

<div>
  <h3>Welcome</h3>
  <hr>
  <p>Landjaeger drumstick bacon leberkas chicken cow, turkey short loin doner picanha pig alcatra tri-tip turducken. Drumstick bresaola pork belly flank. Pig fatback meatball jerky leberkas frankfurter. Drumstick beef jowl ball tip sirloin. Biltong doner kielbasa pig alcatra porchetta ground round cupim sausage.</p>
</div>

<div>
  <h3>Latest entries in the Wiki</h3>
  <hr>

  {% for article in articles %}
  <div class="blog_article">
    hahaha
    <a href="{{ article.url }}"><h4>{{ article.title }}</h4></a>
    {{ article.render }}
  </div>
  {% endfor %}
</div>

{% endblock %}
